<html ng-app="dashApp">
<head>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.js"></script>
  <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="js/angular-pageslide-directive.js"></script>
  <script src="js/script.js"></script>
    
  <link rel="stylesheet" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.0-rc.5/angular-material.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
  <link href='https://fonts.googleapis.com/css?family=Product+Sans' rel='stylesheet' type='text/css'>
  <link href="css/menu.css">
     <style>
         .menu{
             transition: 0.2s;
             cursor:pointer;
             -webkit-user-select: none; /* Chrome/Safari */        
             -moz-user-select: none; /* Firefox */
             -ms-user-select: none; /* IE10+ */

         }
    .menu:hover{
        border-left: 5px solid #0099ff !important;
         }
         
         .iconNav{
             width: 60px;
             transition: width 0.8s;
         } 
         
         .textNav{
             width: 200px;
            transition: width 0.8s;
         } 
         
         .iconContent{
             margin-left:60px;
             transition: width 1s;
         }
         
         .textContent{
             margin-left:200px;
             transition: width 1s;
         }
    </style>
  
</head>
<body  ng-controller="dashCtrl" class="text-center " style="font-family: 'Product Sans', Arial, sans-serif;">
<div  style="background-color:#e0ebeb"  >
  <main flex class="container">
  
  </main>
    
    
     <md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools" >
          <md-button class="md-icon-button" ng-click="toggleLeft()" >
                <img src="img/icon/menu.svg" style="margin:-14px -5px 0px -15px"/>
            <!--<md-icon md-svg-icon="img/icon/menu.svg"></md-icon>-->
          </md-button>
          <div flex></div>
          <md-button class="md-icon-button">
              <i class="material-icons" >face</i>
              <md-tooltip style="margin-top:5px" md-direction="bottom">User</md-tooltip>
          </md-button>
          <!--<div flex></div>-->
         <md-button class="md-icon-button">
             <i class="material-icons" >power_settings_new</i><br>
             <md-tooltip style="margin-top:5px" md-direction="bottom">Logout</md-tooltip>
          </md-button>
      </div>
    </md-toolbar>
    
    <!--<md-content flex>
        <md-sidenav class="md-sidenav-left" md-component-id="left"
                md-disable-backdrop md-whiteframe="4">

     

      <md-content layout-margin>
        <p>
          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
        
      </md-content>

    </md-sidenav>

    </md-content>-->
    
    <div >
    <md-content flex style="height:100%"> 
    <md-sidenav id="sideNav" md-component-id="left"  class="md-sidenav-left md-whiteframe-z1 md-locked-open iconNav" layout="column" md-disable-backdrop >
        <md-content style="overflow-x: hidden;">
            <div  ng-hide="is_open">
        <md-list>
         
            <table style="width:200px">
            <td class="menu"><md-list-item md-ink-ripple >
                <!--<md-button md-ink-ripple >-->  <!--<md-item-content md-ink-ripple >-->
                    <i class="material-icons">dashboard</i><div style="margin-left:15px">Dashboard</div>
                <!--</md-button> --> 
                
            </md-list-item ></td></table>
            <hr style="width: 95%;border-bottom: 0.2px think #f2f2f2;margin-top:0px;margin-bottom:0px">
            
            
            <table style="width:200px">
            <td class="menu">
            <md-list-item md-ink-ripple>
                <!--<md-button md-ink-ripple >-->  <!--<md-item-content md-ink-ripple >-->
                    <i class="material-icons">domain</i><div style="margin-left:15px">Hotels</div>
                <!--</md-button> --> 
                
                </md-list-item ></td></table>
            <hr style="width: 95%;border-bottom: 0.5px think #f2f2f2;margin-top:0px;margin-bottom:0px">
            
            
            <table style="width:200px">
            <td class="menu">
            <md-list-item md-ink-ripple>
                <!--<md-button md-ink-ripple >-->  <!--<md-item-content md-ink-ripple >-->
                    <i class="material-icons">vpn_key</i><div style="margin-left:15px">Rooms</div>
                <!--</md-button> --> 
                
                
                
                
                
            </md-list-item ></td></table>
            <hr style="width: 95%;border-bottom: 0.5px think #f2f2f2;margin-top:0px;margin-bottom:0px">
        </md-list>
            
            </div>
            
            <div  ng-show="is_open">
            <md-list>
         
            <table style="width:60px">
            <td class="menu"><md-list-item md-ink-ripple >
                <!--<md-button md-ink-ripple >-->  <!--<md-item-content md-ink-ripple >-->
                    <i class="material-icons">dashboard</i>
                <!--</md-button> --> 
                
            </md-list-item ></td></table>
            <hr style="width: 95%;border-bottom: 0.2px think #f2f2f2;margin-top:0px;margin-bottom:0px">
            
            
            <table style="width:60px">
            <td class="menu">
            <md-list-item md-ink-ripple>
                <!--<md-button md-ink-ripple >-->  <!--<md-item-content md-ink-ripple >-->
                    <i class="material-icons">domain</i>
                <!--</md-button> --> 
                
                </md-list-item ></td></table>
            <hr style="width: 95%;border-bottom: 0.5px think #f2f2f2;margin-top:0px;margin-bottom:0px">
            
            
            <table style="width:60px">
            <td class="menu">
            <md-list-item md-ink-ripple>
                <!--<md-button md-ink-ripple >-->  <!--<md-item-content md-ink-ripple >-->
                    <i class="material-icons">vpn_key</i>
                <!--</md-button> --> 
                
            </md-list-item ></td></table>
            <hr style="width: 95%;border-bottom: 0.5px think #f2f2f2;margin-top:0px;margin-bottom:0px">
                
                <md-list-item class="md-3-line" ng-repeat="training in vm.trainingList">
                    <div class="md-list-item-text" ng-click="$state.go('more_link'})">
                        <h3 class="md-subtitle">{{title}}</h3>
                        <h4>{{description}}</h4>
                        <p class="md-body-1">
                            {{more_info}}
                        </p>
                    </div>
                    <md-menu md-position-mode="target-right target">
                        <md-button class="md-icon-button" >
                            <md-icon md-menu-origin>more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="">
                                    <p>copy</p>
                                    <md-icon md-menu-align-target>content_copy</md-icon>
                                </md-button>
                            </md-menu-item>
                            <md-menu-divider></md-menu-divider>
                            <md-menu-item>
                                <md-button ng-click="">
                                    <p>delete</p>
                                    <md-icon md-menu-align-target>clear</md-icon>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-list-item>
        </md-list>
                </div>
            </md-content>
    </md-sidenav>

    <md-content >
    

<div id="content" layout="row" layout-padding class="iconContent" ng-include="'views/room.html'">
    
  
        </div>    
    </md-content>
</md-content>
    </div>
    
    
    
    
</div>
    
    
        
</body>
</html>
