<div class="row">
    <div class="col-md-12">
        <md-whiteframe class="md-whiteframe-1dp"  layout layout-align="center center" style="background-color:white;width:100%;border-bottom:5px solid #0099ff;margin-top:-15px" >
        <h3>HEADING SECTION</h3>
        </md-whiteframe>
    
    </div>
</div>

<div class="row">
<div class="col-md-8">
    <md-whiteframe class="md-whiteframe-1dp"  layout layout-align="center center" style="background-color:white;width:100%" >
        <div layout="column" flex>
            <div flex>
            <md-toolbar   style="min-height:30px !important;background-color:#0099ff">
                <h5 > SUB HEADER </h5>
            </md-toolbar>
            </div>
        <div flex>
        <form name="projectForm" layout-align="start">
               <md-input-container class="md-block" style="width:400px;align-text:left">
                  <label >Room No</label>
                  <input required name="roomNo" ng-model="project.userName">
                  
               </md-input-container>
               
     
               
        </form>
        </div>
        </div>
    </md-whiteframe>
</div>
<div class="col-md-4">
    <md-whiteframe class="md-whiteframe-1dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout layout-align="center center" style="background-color:white;" >
        
     <!--<md-button name="User name" class="md-raised md-primary">Pool</md-button>-->
    <div layout="column" flex>
        
        <div flex>
            <md-toolbar   style="min-height:30px !important;background-color:#0099ff">
                <h5 > SUB HEADER </h5>
            </md-toolbar>
            </div>
        <div flex>
        <md-button-group class=" ">
            <md-button class="md-raised md-primary">POOL</md-button>
            <md-button><i class="material-icons">add</i></md-button>
            
        </md-button-group>
        </div>    
        </div>
    </md-whiteframe>

</div>    

</div>









<!--
<md-whiteframe class="md-whiteframe-1dp" flex-sm="100" flex-gt-sm="100" flex-gt-md="100" layout layout-align="center center" style="background-color:white;" >
    
      
      <div class="row" style="margin-left:20px">

    
<div class="row" >
    
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> ADD ROOM
  </label>
  <label class="btn btn-primary">
    <input type="radio" name="options" id="option2" autocomplete="off"> UPDATE ROOM
  </label>
  
</div>


    <div class="col-md-6">dda</div>
    <div class="col-md-6">dd</div>
    
</div>
    
   
 

</div>
     
    </md-whiteframe>

-->
